@import '../../styles/variables';
@import '../../styles/mixins/spacing';

.note {
  @include flex(column);
  width: 200px;
}

.note::before {
  content: '';
  width: 100px;
  border-bottom: 1px solid $secondary-color;
  margin-bottom: 20px;
}
