<section class="archive__container">
  <h2>Archive</h2>
  <div>
    {% for strip in collections.projects | published | exclude(showcase.featured) | sort | chunks(3) %}
      <div class="archive__strip">
        {% for project in strip %}
          {% set project = project.data %}
          <h3>
            {% if project.live_url %}
              <a href="{{ project.live_url}}">
                {{ project.title }}
              </a>
            {% else %}
              {{ project.title }}
            {% endif %}
          </h3>
        {% endfor %}
      </div>
    {% endfor %}
  </div>

</section>
