<header>
  <div class="header__bar">
    <p class="header__status">{{ header.status }}</p>
    <p class="header__name">{{ header.name }}</p>
    <button class="header__cta">{{ header.cta }}</button>
  </div>
</header>
