<section class="showcase__container">
  <div class="showcase__topper">
    <h2>Showcase</h2>
    <p>{{ showcase.introduction}}</p>
  </div>

  {% for project in collections.projects %}
    {% if (project.fileSlug in showcase.projects) and project.data.published  %}
      {% set project = project.data %}
      {% include 'components/project.njk' %}
    {% endif %}
  {% endfor %}
</section>
