<section class="showcase__container">
  <div class="showcase__topper">
    <h2>Showcase</h2>
    <p>{{ showcase.introduction}}</p>
  </div>

  {% for project in collections.projects %}
    {% set project = project.data %}
    {% include 'components/project.njk' %}
  {% endfor %}
</section>
