{
  "env": {
    "development": {
      "presets": ["next/babel"]
    },
    "test": {
      "presets": [
        "@babel/react",
        [
          "@babel/preset-env",
          {
            "modules": "commonjs"
          }
        ]
      ],
      "plugins": [
        [
          "@babel/plugin-transform-runtime",
          {
            "regenerator": true
          }
        ]
      ],
      "plugins": [
        "@babel/plugin-syntax-dynamic-import",
        [
          "transform-imports",
          {
            "lodash": {
              "transform": "lodash/${member}",
              "preventFullImport": true
            }
          }
        ],
        [
          "import",
          {
            "libraryName": "antd",
            "libraryDirectory": "es"
          }
        ]
      ]
    }
  }
}
