.biography {
  @include flex(column, space-between);
  @include padding($column-gutter x);

  height: 100vh;
  padding-top: $sp-md;

  @include mq($bp-md) {
    @include padding(10% x 5% $column-margin);
  }
}

.grid {
  @include flex(column);

  @include mq($bp-md) {
    display: grid;

    grid-template-areas:
      'name title .'
      'resources organization organization';

    grid-template-columns: $column-width $column-width $column-width;

    row-gap: 40px;
  }
}

.name {
  @include body(2);
  @include padded;
  grid-area: name;
}

.title {
  @include body(2);
  @include padded;
  grid-area: title;
  margin-top: $sp-md;

  @include mq($bp-md) {
    margin-top: 0;
  }
}

.organization {
  @include heading(5);
  @include padded;
  grid-area: organization;
  margin-top: $sp-xxs;

  @include mq($bp-md) {
    @include heading(3);
    margin-top: 0;
  }
}

.resources {
  @include padded;
  @include show-at($bp-md);

  align-items: center;
  grid-area: resources;
}

.bio {
  @include body(2);
  @include transition;
  @include padded;
  @include hidden;
  width: 100%;

  @include mq($bp-md) {
    width: $column-width;
  }

  &.show {
    @include visible;
  }
}
