.headline {
  height: 100vh;

  display: flex;
}


.titles {
  margin: auto;
}

.title {
  margin: 0;
  font-size: var(--typeHuge);
  font-weight: bold;
  color: var(--body);

  &.selected {
    color: var(--primary);
    animation: changeColor 0.3s linear;
  }
}

@keyframes changeColor {
  0% {
    color: inherit;
  } 100% {
    color: var(--primary);
  }
}


.band {
  height: 100%;
  width: 200px;

  background-color: var(--primary);
  position: relative;
}

.png {
  width: 400px;
  position: absolute;
  bottom: 0;
  left: 0;
}
