.ballroomStory {
  position: relative;
  height: 100vh;
  padding-top: 20%;
}

.header {
  font-family: 'Courier New';
  color: var(--secondary);

  margin-bottom: 10px;
  margin-left: 2px;
}

.level {
  color: var(--primary);
}

.company {
  composes: highlight from global;
}

.company::after {
  top: 60%;
  height: 10px;
}


.copy {
  background-color: white;
  padding: 20px 20px 20px 0;
  width: 50%;
}

.assetContainer {
  position: absolute;
  right: 0;
  top: 0;
  z-index: -1;
  width: 45%;
}

.name {
  position: absolute;
  top: 40px;

  color: var(--primary);
  writing-mode: vertical-rl;
}

.asset {
  width: 100%;
}
