.profile {
  @include size(500px);
}

.image {
  @include size(100%);
  object-fit: cover;
}

.name {
  @include uppercase;
  font-size: 72px;
  line-height: 72px;
  text-align: center;
  width: 100%;
  margin: 0 auto;
  margin-top: -72px;
}
