.image {
  position: relative;

  &::before {
    @include transition;
    @include size(100%);
    @include absolute(0 x x 0);

    content: '';
  }

  &.tinted::before {
    background-color: rgba($color: #000000, $alpha: 0.7);
  }
}

.caption {
  @include padding(x $column-gutter);

  @include mq($bp-md) {
    @include in-column(2);
  }
}

.name {
  @include heading(5);
  @include margin($sp-sm x);

  @include mq($bp-md) {
    @include heading(4);
  }
}

.description {
  @include body(2);

  &::before {
    width: $column-width / 2;
  }
}
