@import '../../../styles/variables';
@import '../../../styles/mixins/fonts';
@import '../../../styles/mixins/spacing';
@import '../../../styles/functions/ms';

.links {
  @include flex(column, space-between);
  @include secondary-color;

  font-size: ms(1);
  text-align: center;
}

.link {
  margin-bottom: 20px;
}
