.footer__container {
  margin-top: $sp-lg;

  @include mq($bp-tablet) {
    margin-top: $sp-xxl;
  }

  section {
    @include base-padding;
    margin-bottom: $sp-xs;
  }
}

.footer__introduction {
  margin-bottom: $sp-xs;

  @include mq($bp-tablet) {
    @include ff-secondary-title;
    width: 40%;
    margin-bottom: $sp-sm;
  }
}

.footer__link {
  @include padding($sp-sm-md x);
  border-top: 1px solid $stone;

  &:last-child {
    border-bottom: 1px solid $stone;
  }

  span {
    @include ff-primary-subtitle;
    display: block;
    margin-bottom: $sp-xxs;
  }

  h3 {
    @include ff-primary-title;
    line-height: 81px;
    overflow-x: scroll;
    transition: all 0.2s ease-in-out;
  }

  a {
    @include on-focus {
      h3 {
        transform: translateX($sp-xs);
      }
    }
  }

  @include mq($bp-tablet, 'max') {
    @include padding($sp-xs x);

    h3 {
      font-size: 24px;
      line-height: 32px;
    }
  }
}

.footer__underline {
  @include flex(row, space-between, center);
  margin-top: $sp-xs;

  ul {
    @include flex(row);

    li {
      margin-right: $sp-sm;
    }
  }

  @include mq($bp-tablet, 'max') {
    @include flex(column, none, flex-start);

    ul {
      margin-bottom: $sp-xxs;
    }
  }
}

.footer__copyright {
  @include ff-primary-subtitle;
}

.footer__marquee {
  $min-screen-width: 1920px;

  @include flex(row);

  @keyframes marquee {
    from {
      transform: translateX(-$min-screen-width);
    }
    to {
      transform: translateX(0);
    }
  }

  animation: marquee 20s linear infinite;

  @include mq($bp-tablet) {
    animation: marquee 12s linear infinite;
  }

  div {
    @include ff-primary-subtitle;
    @include padding($sp-xs 0);
    @include flex(row, none);
    flex: 0 0 auto;
    min-width: $min-screen-width;

    width: 100vw;
    white-space: nowrap;
    background-color: $stone;

    span {
      margin-right: auto;

      &:nth-child(even) {
        font-weight: normal;
      }
    }
  }
}
