.hero__topper {
  @include flex(row-reverse);
  align-items: flex-end;
}

.hero__headline {
  @include flex;
  align-items: baseline;
}

.hero__headline-text {
  @include heading(2);
  display: inline-block;
}

.hero__bio {
  @include flex;
  align-items: baseline;
}

.hero__name {
  @include heading;
  display: inline-block;
}

.hero__title {
  display: inline-block;
}
