$inset: -60px;

.introduction {
  @include size(100vw, 100vh);
  @include flex(row, center, center);

  @include on-focus {
    > .media {
      @include padding(20px);

      filter: grayscale(0);
    }
  }
}

.name {
  @include uppercase;
  @include heading(3);

  margin-right: $inset;
  white-space: nowrap;
}

.media {
  @include transition;

  filter: grayscale(100%);
  visibility: hidden;
  width: 300px;
  z-index: -1;

  @include respond-to($bp-xl) {
    width: 400px;
  }
}

.biography {
  @include body(2);

  margin-left: $inset;
  width: 400px;
}
