.introduction {
  @include size(100vw, 100vh);
  position: relative;
}

.container {
  @include absolute(50% x x 50%);
  @include flex;

  transform: translate(-50%, -50%);
}

.name {
  @include uppercase;

  font-family: $gothic;
  font-size: ms(4);
  white-space: nowrap;
  width: 200px;
}

.media {
  @include padding(20px);

  width: 300px;
}

.biography {
  @include body;
}
