$inset: -60px;

.introduction {
  @include size(100vw, 100vh);
  @include flex(row, flex-start, center);
}

.name {
  @include uppercase;
  @include heading(3);

  margin-right: $inset;
  white-space: nowrap;
}

.media {
  width: 400px;
  z-index: -1;
}

.biography {
  @include body(2);

  margin-left: $inset;
  width: 400px;
}
