/* Colors */
$pink-color: #ff3366;
$beige-color: #fdedb2;

$primary-color: $beige-color;
$secondary-color: white;
$tertiary-color: black;
$background-color: black;
$body-color: $secondary-color;
$accent-color: $pink-color;

/* Typography */
$cera: 'Cera';
