/* Colors */
$black: #000000;
$grey: #bdbdbd;
$white: #ffffff;
$blue: #052951;
$orange: #e6a07d;

$primary-color: $blue;
$secondary-color: $orange;
$background-color: $white;
$body-color: $black;

/* Typography */
$ff-primary: 'Nocturno Display';
$ff-secondary: 'GT America';

/* Transitions */
$sine: cubic-bezier(0.445, 0.05, 0.55, 0.95);
$quad: cubic-bezier(0.455, 0.03, 0.515, 0.955);
$cube: cubic-bezier(0.645, 0.045, 0.355, 1);
$circ: cubic-bezier(0.785, 0.135, 0.15, 0.86);
$back-out: cubic-bezier(0.35, 1.1, 0.65, 1.65);
$transition-duration: 0.2s;
$transition-default: $transition-duration $circ;

/* Layout */
$column-width: 400px;
$column-margin: calc((100vw - (3 * #{$column-width})) / 2);
$column-gutter: 20px;

/* Line */
$highlight-width: 4px;

/* Responsive */
$bp-xxl: 1800px;
$bp-xl: 1440px;
$bp-lg: 1125px;
$bp-md-lg: 950px;
$bp-md: 850px;
$bp-md-sm: 600px;
$bp-sm: 425px;
$bp-xs: 375px;
$bp-xxs: 320px;

$sp-xxs: 10px;
$sp-xs: 20px;
$sp-sm: 40px;
$sp-md: 80px;
$sp-lg: 100px;
$sp-xl: 200px;
