:root {
  --primary: #F42272;
  --secondary: #828282;

  --typeSmall: 12px;
  --typeRegular: 18px;
  --typeMedium: 24px;
  --typeLarge: 36px;
  --typeXLarge: 48px;
  --typeHuge: 64px;
}

@font-face {
  font-family: 'Cera';
  src: url('/typefaces/Cera-Regular.otf');
}

@font-face {
  font-family: 'Cera';
  src: url('/typefaces/Cera-Bold.otf');
  font-weight: bold;
}

html,
body,
body > div {
  height: 100%;
}

body {
  font-family: 'Cera';
  font-size: var(--typeRegular);
  color: black;

  padding: 0;
  margin: 0;
}


a {
  text-decoration: none;
  color: inherit;
}

h1 {
  font-size: var(--typeHuge);
}

h2 {
  font-size: var(--typeLarge);
}

h3 {
  font-size: var(--typeMedium);
}

h1, h2, h3 {
  margin: 0;
}

:global .bounce {
  transition: transform 0.3s ease-in-out;
}

:global .bounce:hover {
  transform: translateY(-5px);
}

:global .highlight {
  position: relative;
  width: fit-content;
}

:global .highlight::after {
  position: absolute;
  content: '';
  width: 0;
  height: 5px;
  background: var(--primary) !important;
  transition: width .3s;

  top: 13px;
  left: 0;
  z-index: -1;
}

:global .highlight:hover::after {
    width: 100%;
}
