.index {
  @include size(100%);
  position: relative;
}

.grid {
  @include fixed(0 x x 50%);
  transform: translateX(-50%);
  z-index: -1;
}

.biography {
  position: relative;
  z-index: 2;
}

.featured-project {
  position: relative;
  top: -20%;
  z-index: 1;

  @include mq($bp-md) {
    top: -50%;
  }
}
