.index {
  @include size(100%);
  position: relative;
}

.grid {
  @include fixed(0 x x 50%);
  transform: translateX(-50%);
  z-index: -1;
}

.biography {
  animation: fade-in 0.8s $sine;
  position: relative;
  z-index: 2;
}

.featured-project {
  animation: fade-up 0.8s $cube;
  position: relative;
  top: -20%;
  z-index: 1;

  @include mq($bp-md) {
    top: -40%;
  }
}

.footer {
  @include margin($sp-xl x $sp-sm x);
}

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fade-up {
  from {
    opacity: 0;
    transform: translateY(20%);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}
