.theme-switch {
  position: relative;
}

.button {
  color: $accent-color;
  font-size: ms(0);

  @include on-focus {
    + .label {
      @include visible;
    }
  }
}

.label {
  @include absolute(50% x x calc(100% + 20px));
  @include hidden;
  @include transition;

  color: $body-color;
  font-size: ms(-1);
  transform: translateY(-50%);
  white-space: nowrap;
}
