/**
 *
 * Primary: Tomato Grotesk
 * Light, Bold
 *
 */
@include font-face($ff-tomato-grotesk, 'TomatoGrotesk-Light.otf', normal, 300);
@include font-face(
  $ff-tomato-grotesk,
  'TomatoGrotesk-LightSlanted.otf',
  italic,
  300
);
@include font-face($ff-tomato-grotesk, 'TomatoGrotesk-Bold.otf', normal, bold);
@include font-face(
  $ff-tomato-grotesk,
  'TomatoGrotesk-BoldSlanted.otf',
  italic,
  bold
);

/**
 *
 * Secondary: Helvetica Neue
 * Light, Bold
 *
 */
@include font-face($ff-helvetica-neue, 'HelveticaNeue.ttf', normal, normal);
@include font-face(
  $ff-helvetica-neue,
  'HelveticaNeue-Italic.ttf',
  italic,
  normal
);
@include font-face($ff-helvetica-neue, 'HelveticaNeue-Light.ttf', normal, 300);
@include font-face(
  $ff-helvetica-neue,
  'HelveticaNeue-LightItalic.ttf',
  italic,
  300
);
@include font-face($ff-helvetica-neue, 'HelveticaNeue-Bold.ttf', normal, bold);
@include font-face(
  $ff-helvetica-neue,
  'HelveticaNeue-BoldItalic.ttf',
  italic,
  bold
);
@include font-face(
  $ff-helvetica-neue,
  'HelveticaNeue-BoldItalic.ttf',
  italic,
  bold
);

// ------------------------------------
// Primary font style presets
// ------------------------------------
@mixin ff-primary-heading() {
  font-family: $ff-primary;
  font-size: 120px;
  line-height: 120px;
  font-weight: 300;
  font-style: normal;
}

@mixin ff-primary-title() {
  font-family: $ff-primary;
  font-size: 63px;
  line-height: 72px;
  font-weight: 300;
}

@mixin ff-primary-subtitle() {
  font-family: $ff-primary;
  font-size: 16px;
  line-height: 24px;
  font-weight: bold;
  text-transform: uppercase;

  @include mq($bp-tablet, 'max') {
    font-size: 12px;
    line-height: 16px;
  }
}

// ------------------------------------
// Secondary font style presets
// ------------------------------------
@mixin ff-secondary-title() {
  font-family: $ff-secondary;
  font-size: 36px;
  line-height: 48px;
  font-weight: 300;
}

@mixin ff-secondary-body() {
  font-family: $ff-secondary;
  font-size: 16px;
  line-height: 24px;
  font-weight: normal;
  letter-spacing: 0.4px;
}
