@font-face {
  font-family: "Tomato Grotesk";
  src: url(/fonts/TomatoGrotesk-Regular.otf);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Tomato Grotesk";
  src: url(/fonts/TomatoGrotesk-Slanted.otf);
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: "Tomato Grotesk";
  src: url(/fonts/TomatoGrotesk-Bold.otf);
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Tomato Grotesk";
  src: url(/fonts/TomatoGrotesk-BoldSlanted.otf);
  font-style: italic;
  font-weight: bold;
}

@font-face {
  font-family: "Courier Prime";
  src: url(/fonts/CourierPrime.ttf);
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "Courier Prime";
  src: url(/fonts/CourierPrime-Italic.ttf);
  font-style: italic;
  font-weight: normal;
}

@font-face {
  font-family: "Courier Prime";
  src: url(/fonts/CourierPrime-Bold.ttf);
  font-style: normal;
  font-weight: bold;
}

@font-face {
  font-family: "Courier Prime";
  src: url(/fonts/CourierPrime-BoldItalic.ttf);
  font-style: italic;
  font-weight: bold;
}
