/* Domaine and Cera fonts */
@include font-face($name: 'Cera', $file: 'Cera-Regular');
@include font-face($name: 'Cera', $file: 'Cera-Bold', $weight: bold);

body {
  margin: 0;
  background-color: black;
  color: white;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  font-family: 'Cera';

  @include font-size(0);
}

a {
  color: inherit;
  text-decoration: none;
}
