@import 'reset';
@import 'abstracts';
@import 'fonts';

html,
body {
  @include margin(0);
  @include padding(0);

  background-image: url('/static/assets/grain.png');

  @include ff-secondary-body;
}

body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
