@import "./fonts";
@import "./variables";

body {
  background-color: $white;
  background-image: url("/assets/grain.png");

  font-family: $ff-sans-serif;
  font-size: 24px;
  line-height: 32px;
}

.ff-sans-serif-title {
  font-family: $ff-sans-serif;
  font-size: 48px;
  line-height: 56px;
}

.ff-sans-serif-body {
  font-family: $ff-sans-serif;
  font-size: 24px;
  line-height: 32px;
}

.ff-sans-serif-body-sub {
  font-family: $ff-sans-serif;
  font-size: 18px;
  line-height: 24px;
}

.ff-mono-body {
  font-family: $ff-mono;
  font-size: 16px;
  line-height: 22px;
}

/**
 * CSS Resets
 */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}
