// Colors
$white: #fefefe;
$black: #111111;
$meteor-gray: #333333;
$stone-gray: #828282;
$light-gray: #e0e0e0;

// Fonts
$ff-sans-serif: "Tomato Grotesk", Arial, sans-serif;
$ff-mono: "Courier Prime", monospace;

:export {
  white: $white;
  black: $black;
  meteorgray: $meteor-gray;
  stonegray: $stone-gray;
  lightgray: $light-gray;
}
