.app {
  padding: 0 10%;
  padding: 0 10% 0 10%;
}

.fixedContainer {
  height: 100%;
  width: 80%;

  position: fixed;
}

.fixed {
  height: 100%;
  width: 100%;

  position: relative;
}

.navigation {
  position: absolute;
  top: 0;
}

.social {
  bottom: 0;
  position: absolute;
}

.page {
  padding: 0 10% 0 10%;
}
