.social {
  display: flex;
  flex-direction: column;

  width: var(--typeMedium);
}

.social::after {
  content: "";
  display: block;
  width: 1px;
  height: 100px;
  background-color: var(--primary);
  margin: 0px auto;
}

.icon {
  color: var(--primary);
  font-size: var(--typeMedium);

  margin-bottom: 20px;
  transition: font-size 0.3s ease-in-out;
}

.icon:hover {
  font-size: calc(var(--typeMedium) + 10px);
}
