.speaker {
  opacity: 0.2;
}


.header {
  font-family: 'Courier New';
  color: var(--secondary);
}

.track {
  font-family: 'Cera';
  margin-top: 4px;
}

.artist {
  color: var(--secondary);
}

.recommend {
  margin-top: var(--typeRegular);
  font-family: 'Courier New';
  color: var(--primary);
}
