.navigation {
  display: flex;
  flex-direction:column;

  padding-top: 40px;
}

.link {
  width: fit-content;
  position: relative;

  &.selected {
    font-weight: bold;
  }

  &.selected::after {
    width: 100%;
  }
}

.link::after {
  position: absolute;
  content: '';
  width: 0;
  height: 5px;
  background: var(--primary) !important;
  transition: width .3s;

  top: 13px;
  left: 0;
  z-index: -1;
}

.link:hover::after {
    width: 100%;
}

.rest {
  display:flex;
  justify-content: space-evenly;

  width: 60%;
}


.rightLink {
}

