.navigation {
  display: flex;
  flex-direction:column;

  padding-top: 40px;
}

.link {
  composes: highlight from global;

  &.selected {
    font-weight: bold;
  }

  &.selected::after {
    width: 100%;
  }
}

.rest {
  display:flex;
  justify-content: space-evenly;

  width: 60%;
}


.rightLink {
}

