@import '../../styles/mixins/fonts';
@import '../../styles/mixins/spacing';
@import '../../styles/functions/ms';

.navigation {
  @include flex(column, space-between);
  height: 100vh;
  width: 60px;

  box-sizing: border-box;
  padding: 20px;
  padding-bottom: 0;
}

.tabs {
  @include flex(column, space-evenly);
  height: 100%;
}

.tab {
  @include spaced;
  @include bold;
  @include vertical;
  @include uppercase;

  font-size: ms(-2);
  line-height: ms(3);
}
