.base {
  margin: auto;
  width: 300px;
}

@media only screen and (min-width: 520px) {
  .base {
    width: 500px;
  }
}

@media only screen and (min-width: 740px) {
  .base {
    width: 600px;
  }
}

.navigation {
  margin: 50px 0;
  animation: fadeIn 0.5s;
}

.body {
  animation: fadeIn 0.5s;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
