.footer  {
  display: flex;
  justify-content: space-between;
  height: 100px;
}

.name {
  composes: highlight from global;

  display: block;
  font-weight: bold;
}

.header {
  font-family: 'Courier New';
  color: var(--secondary);
  margin-bottom: 10px;
}


