.updates {
  font-family: 'Courier New';
}

.table {
  border-spacing: 0 20px;
}

.dots {
  composes: bounce from global;

  font-size: var(--typeMedium);
  margin: auto;

  border: none;
  display: flex;

  color: var(--primary);
  cursor: pointer;
}

.header {
  font-family: 'Courier New';
  color: var(--secondary);

  margin-bottom: 10px;
  margin-left: 2px;
}

.events {
  margin-bottom: 0;
}
