.headline {
  @include uppercase;
  @include heading(5);
  color: $body-color;
}

.project {
  position: relative;
  width: 100%;
}

.copy {
  @include absolute(50% x x 300px);
}

.overline {
  @include uppercase;
  @include heading(5);
  color: $body-color;
}

.project-name {
  @include uppercase;
  @include heading(3);
  @include transition;

  &.with-link {
    @include on-focus {
      opacity: 0.7;
    }
  }
}

.project-description {
  @include body(2);
  margin-top: 20px;
}

.image {
  @include transition;
}
