.headline {
  @include uppercase;
  @include heading(5);
  color: $body-color;
}

.project {
  position: relative;
  width: 100%;
}

.copy {
  @include absolute(50% x x x);
  left: $column-width + $sp-sm;

  @include respond-to($bp-xl) {
    left: $column-width + $sp-lg;
  }
}

.overline {
  @include uppercase;
  @include heading(5);
  color: $body-color;
}

.project-name {
  @include uppercase;
  @include heading(3);
  @include transition;

  &.with-link {
    @include on-focus {
      opacity: 0.7;
    }
  }
}

.project-description {
  @include body(2);
  margin-top: 20px;
}

.image {
  @include transition;
}
