@mixin flex($direction: row, $justification: none, $alignment: none) {
  display: flex;
  flex-direction: $direction;

  @if $justification != none {
    justify-content: $justification;
  }

  @if $alignment != none {
    align-items: $alignment;
  }
}

@mixin margin($value) {
  @include shorthander(margin, $value);
}

@mixin padding($value) {
  @include shorthander(padding, $value);
}

@mixin in-column($nth: 1) {
  $multiplier: $nth - 1;
  margin-left: calc(#{$column-margin} + #{$column-width * $multiplier});
}

@mixin padded {
  @include padding(x $column-gutter);
}
