@mixin flex($direction: row, $justification: none) {
  display: flex;
  flex-direction: $direction;

  @if $justification != none {
    justify-content: $justification;
  }
}

@mixin margin($value) {
  @include shorthander(margin, $value);
}

@mixin padding($value) {
  @include shorthander(padding, $value);
}
