@mixin heading($scale: 1) {
  $heading-scale: nth([22, 18, 16, 14, 6, 3, 1], $scale);

  @include type-tiempos;

  color: $accent-color;
  font-size: ms($heading-scale);
}

@mixin body($scale: 1) {
  $heading-scale: nth([0, 2, 6, 9], $scale);
  font-size: ms($heading-scale);
  line-height: ms($heading-scale + 2);
}

@mixin type-tiempos {
  font-family: $tiempos;
}

@mixin type-object {
  font-family: $object;
}
