.carousel,
.slider {
  width: 100%;
}

.image {
  @include size(100%, auto);
  @include transition;

  padding-right: 20px;

  &.withLink {
    @include on-focus {
      transform: scale(1.1);
    }
  }
}

.content {
  @include flex(row, space-between);
  margin-top: 20px;
}

.navigator {
  @include body(2);

  margin-right: 5%;

  button {
    @include padding(x 10px);
  }
}

@mixin arrow($translate) {
  span {
    @include transition;

    display: block;
    opacity: 0.7;

    @include on-focus {
      opacity: 1;
      transform: translateX($translate);
    }
  }
}

.left-arrow {
  @include arrow(-3px);
  border-right: 1px solid $accent-color;
}

.right-arrow {
  @include arrow(3px);
}
