.carousel {
  width: 100%;
}

.slider {
  width: 100%;
}

.image {
  @include size(auto, 400px);
  padding-right: 5%;
}

.content {
  @include flex(row, space-between);
  margin-top: 20px;
}

.navigator {
  @include body(2);

  margin-right: 5%;

  button {
    @include padding(x 10px);
  }
}

@mixin arrow($translate) {
  > span {
    @include transition;

    @include on-focus {
      transform: translateX($translate);
    }
  }
}

.left-arrow {
  @include arrow(-3px);
  border-right: 1px solid $accent-color;
}

.right-arrow {
  @include arrow(3px);
}
