.archive {
  @include padding(x $sp-md);

  @include on-mobile {
    @include padding(x $sp-xs);
  }
}

.headline {
  @include heading;
  color: $secondary-color;
  text-align: center;

  @include on-mobile {
    text-align: left;
  }
}

.links {
  @include flex(row, center);
  flex-wrap: wrap;

  @include on-mobile {
    @include flex(column, left);
  }

  li {
    @include margin(x $sp-xxs);
    @include heading(2);

    @include on-mobile {
      @include margin(0);
      @include heading(4);
    }
  }
}

.link {
  @include transition;

  color: $grey;

  @include on-focus {
    color: $primary-color;
    text-decoration: none;
  }
}
