.copy {
  @include flex(row);
  @include size(100% x);
  background-color: $primary-color;
  padding-bottom: $sp-sm;
  position: relative;
  z-index: -1;

  @include on-mobile {
    @include flex(column);
  }
}

.headline {
  @include heading(4);
  @include padding($sp-sm);
  color: $secondary-color;

  @include on-desktop {
    width: 50%;
  }

  @include on-screen {
    width: 50%;
  }
}

.richText {
  @include padding($sp-sm);
  color: $invert-color;
  margin-top: $sp-xs;

  @include on-desktop {
    width: 50%;
  }

  @include on-screen {
    width: 50%;
  }
}

.aztec {
  @include absolute(x $sp-sm -25% x);
  @include size(250px);
  z-index: -1;
}
