.copy {
  @include flex(row);
  @include size(100% x);
  background-color: $primary-color;
  padding-bottom: $sp-md;
  position: relative;

  @include on-mobile {
    @include flex(column);
    padding-bottom: $sp-lg-xl;
  }
}

.headline {
  @include heading(4);
  @include padding($sp-sm);
  color: $secondary-color;

  @include on-mobile {
    @include padding($sp-xs);
    padding-bottom: 0;
  }

  @include on-desktop {
    width: 50%;
  }

  @include on-screen {
    width: 50%;
  }
}

.rich-text {
  @include padding($sp-sm);
  color: $invert-color;
  margin-top: $sp-xxs;
  z-index: 1;

  @include on-mobile {
    @include padding($sp-xs);
    margin-top: 0;
    padding-bottom: 0;
  }

  @include on-desktop {
    width: 50%;
  }

  @include on-screen {
    width: 50%;
  }
}

.aztec {
  @include absolute(x $sp-sm -40% x);
  @include size(250px);

  @include on-mobile {
    @include absolute(x x 0 50%);
    @include size(200px);
    transform: translate(-50%, 50%);
  }
}

.project {
  img {
    z-index: 99;
  }
}
