@mixin padded {
  @include padding(x $column-gutter);
}

.biography {
  @include flex(column, space-between);
  @include padding(10% x);
  height: 100vh;

  padding-left: $column-margin;
}

.grid {
  display: grid;

  grid-template-areas:
    'name title resources'
    '. organization organization';

  grid-template-columns: $column-width $column-width $column-width;

  row-gap: 40px;
}

.name {
  @include body(2);
  @include padded;
  grid-area: name;
}

.title {
  @include body(2);
  @include padded;
  grid-area: title;
}

.organization {
  @include heading(2);
  @include padded;
  grid-area: organization;
}

.bio {
  @include body(2);
  @include padded;
  grid-area: bio;
  width: $column-width;
}
