.experience {
  @include flex(row, space-between);
}

.container {
  width: 50%;
}

.overline {
  @include type-gothic;
  @include uppercase;
  @include heading(5);
  color: $body-color;
}

.organization {
  @include type-gothic;
  @include uppercase;
  @include heading(3);
}

.description {
  @include body;
  margin-top: 20px;
}

.projects {
  width: 50%;
}
