.headline {
  @include heading(4);
  @include in-column(1);
  @include padded;
}

.projects {
  background-color: $black;
  width: calc(#{$column-margin} + #{$column-width * 2});
}

.project {
  @include transition;

  align-items: center;
  border-bottom: 1px solid $grey;
  display: grid;
  grid-template-columns: $column-width calc(2 * #{$column-width});
  height: $sp-md;
  padding-left: $column-margin;
  position: relative;

  @include on-focus {
    border-bottom: $highlight-width solid $accent-color;
    z-index: 99;

    > .image {
      @include visible;
    }
  }
}

.name,
.description {
  @include body(2);
  @include padded;

  z-index: 1;
}

.image {
  @include size(auto, $sp-md * 5);
  @include hidden;
  @include transition;

  left: calc(100% - #{$sp-md});
  position: absolute;
}
