---
layout: layouts/base.njk
permalink: 404.html
eleventyExcludeFromCollections: true
---

<section class="not-found__container">
  <h1>404<br />Not Found</h1>
  <p>
  Sorry, I don’t know what<br />
  <span class="not-found__link js-not-found-link">hello</span> is, but feel free to shoot me an email instead!
  <br/>
  <br/>
  Or, <a href="/">visit my homepage!</a>
  </p>
</section>

