---
layout: layouts/base.njk
permalink: 404.html
eleventyExcludeFromCollections: true
---

<section class="not-found__container">
  <h1>404<br />Not Found</h1>
  <p>
  Sorry, I don’t know where<br />
  <span class="not-found__link js-not-found-link">hello</span> is, but feel free to <a class="basic-link" href="mailto:gvjacob@outlook.com">shoot me an email</a> instead.
  <br/>
  <br/>
  Or, <a href="/">visit my homepage!</a>
  </p>
</section>

