---
layout: layouts/base.njk
eleventyNavigation:
  key: Home
  order: 1
hero:
  title: Carving out the web's prettiest corners
showcase:
  introduction: Lucky to have built a life-saving app, democratized technology skills, and developed some really pretty websites. I'm a creative technologist with modern solutions.
  featured:
    - harvard-dce
    - covid-protocols
---

{% include 'components/hero.njk' %}
{% include 'components/showcase.njk' %}
{% include 'components/archive.njk' %}
