---
layout: layouts/base.njk
eleventyNavigation:
  key: Home
  order: 1
hero:
  title: Carving out the web's prettiest corners
showcase:
  introduction: Lucky to have built a life-saving app, democratized technology skills, and developed some really pretty websites. I'm an engineer, and above all else, an unapologetically user-centric designer.
---

{% include 'components/hero.njk' %}
{% include 'components/showcase.njk' %}
