.footer {
  @include padding($sp-sm);

  @include on-mobile {
    @include padding($sp-xs);
    background-color: $primary-color;
  }
}

.headline {
  @include heading;
  color: $primary-color;
  margin-bottom: $sp-sm;
  text-align: center;

  @include on-mobile {
    color: $secondary-color;
    margin-bottom: $sp-xs;
    text-align: left;
  }
}

.links {
  @include flex(row, center, center);

  @include on-mobile {
    @include flex(column);
    align-items: flex-start;
  }
}

.link {
  @include margin(x $sp-xs);
  color: $body-color;

  @include on-mobile {
    @include margin(x 0);
    color: $invert-color;
  }
}

.avatar {
  @include size(100px, auto);
  @include margin(x $sp-md);

  @include on-mobile {
    display: none;
  }
}
